<div class="w-full flex justify-center flex-col">
  <ul class="w-full">
    <li *ngFor="let item of movieListData!.Search | paginate : pagingConfig;" class="w-full py-4">
      <div class="flex flex-col lg:grid lg:grid-cols-2 lg:gap-3">
        <div class="flex flex-col w-full justify-center items-center">
          <h3 class="mb-8 text-2xl font-bold text-center">{{ item.Title }}</h3>
          <p class="mb-4">
            {{ item.Type.charAt(0).toUpperCase() + item.Type.slice(1) }}
          </p>
          <p class="mb-4">{{ item.Year }}</p>
          <p class="mb-4">IMDBID: {{ item.imdbID }}</p>
        </div>
        <div class="group flex justify-center items-center relative cursor-pointer">
          <div class="flex flex-col w-full justify-center items-center min-h-[430px]">
            <img *ngIf="item.Poster !== 'N/A'" class="transition duration-150 ease-in-out hover:shadow-white hover:shadow-lg" [src]="item.Poster" [routerLink]="['movie/' + item.imdbID]" routerLinkActive="router-link-active" />
            <img *ngIf="item.Poster === 'N/A'" class="transition duration-150 ease-in-out h-[200px]" src="assets/movie-clap-transparent.png" [routerLink]="['movie/' + item.imdbID]" routerLinkActive="router-link-active"/>
          </div>
      </div>
      </div>
    </li>
  </ul>

  <nav class="flex justify-center m-6 lg:m-12">
    <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel=""
          nextLabel=""
          [responsive]="true"
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
  </nav>
</div>
