::ng-deep.ng-select.custom {
    width: 240px;
    background-color: transparent;
}

::ng-deep.ng-select .ng-select-container {
    background-color: transparent;
}

::ng-deep .ng-select .ng-value {
    color: white;
}