<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-[#101c3a] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4"
  data-te-navbar-ref
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent4"
      aria-controls="navbarSupportedContent4"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>

    <!-- Collapsible navbar container -->
    <div
      class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent4"
      data-te-collapse-item
    >
      <!-- Left links -->
      <ul
        class="list-style-none mr-auto flex flex-col items-start pl-0 w-full justify-between lg:mt-[0.85rem] md:items-center lg:flex-row"
        data-te-navbar-nav-ref
      >
        <li
          class="my-4 pl-2 w-full lg:my-0 lg:pl-2 lg:pr-1"
          data-te-nav-item-ref
        >
          <div class="mb-3 flex flex-col items-center lg:flex-row">
            <div class="mb-4 lg:mb-0">
              <a
                class="text-neutral-500 mr-4 hover:text-neutral-700 focus:text-neutral-700 disabled:text-black/30 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                aria-current="page"
                style="color: #f4f3ee"
                [routerLink]="['/']"
                (click)="onResetInputs()"
                routerLinkActive="router-link-active"
                data-te-nav-link-ref
                >Movie App</a
              >
            </div>

            <div class="relative flex mr-4">
              <ng-select
                class="custom"
                [(ngModel)]="selectedMovie"
                [virtualScroll]="true"
                placeholder="Eg. Matrix"
                (search)="onSelectSearch($event)"
                (scrollToEnd)="onScrollSearch($event)"
              >
                <ng-container *ngIf="searchedResults$ | async">
                  <ng-option
                    *ngFor="let item of searchedResults"
                    [value]="item.Title"
                    >{{ item.Title }}</ng-option
                  >
                </ng-container>
              </ng-select>
              <button
                class="relative z-[2] flex items-center rounded-r bg-primary px-4 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                type="button"
                id="button-addon1"
                (click)="clearInput('selectedMovie')"
                data-te-ripple-init
                data-te-ripple-color="light"
              >
                X
              </button>
            </div>
            <div class="mt-4 lg:mt-0">
              <button
                class="z-[2] h-[37px] flex px-4 items-center rounded bg-primary text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                type="button"
                (click)="getMovieBySearch()"
                [routerLink]="['movies/page/' + 1]"
                data-te-ripple-init
                data-te-ripple-color="light"
              >
                <span class="mr-4">Search</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-5 w-5"
                >
                  <path
                    fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
          </div>
        </li>

        <li class="my-4 pl-2 w-full flex justify-center lg:my-0 lg:pl-2 lg:pr-1 lg:justify-end" data-te-nav-item-ref>
            <div class="relative flex flex-col md:flex-row">
              <ng-container [formGroup]="searchFormGroup">
                <div class="mb-3 flex md:mr-4">
                  <div class="relative flex w-[190px]">
                    <input
                      type="text"
                      class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] md:w-[70%] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                      placeholder="eg. 2007"
                      style="color: #f4f3ee"
                      formControlName="year"
                    />
                    <button
                      class="relative z-[2] flex items-center rounded-r bg-primary px-4 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                      type="button"
                      id="button-addon1"
                      (click)="clearInput('year')"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      X
                    </button>
                  </div>
                </div>

                <div class="mb-3 flex md:mr-4">
                  <div class="relative flex w-[190px]">
                    <select
                      data-te-select-init
                      data-te-select-placeholder="Movie Type"
                      formControlName="type"
                    >
                      <option *ngFor="let item of movieTypes">
                        <p data-te-dropdown-item-ref>{{ item }}</p>
                      </option>
                    </select>
                    <button
                      class="relative z-[2] flex px-4 items-center rounded-r bg-primary text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
                      type="button"
                      (click)="clearInput('type')"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      X
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
        </li>
      </ul>

      <div class="flex items-center justify-center mb-4 lg:mb-0">
        <a
          type="button"
          data-te-ripple-init
          data-te-ripple-color="light"
          href="https://github.com/JacU1"
          class="mr-3 cursor-pointer inline-block rounded px-3 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg motion-reduce:transition-none"
          style="background-color: #333"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
            />
          </svg>
        </a>
        <a
          type="button"
          data-te-ripple-init
          data-te-ripple-color="light"
          href="https://www.linkedin.com/in/jacek-zolotar-web-dev/"
          class="mr-3 cursor-pointer inline-block rounded px-3 py-2.5 text-xs font-medium uppercase leading-normal text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg motion-reduce:transition-none"
          style="background-color: #0077b5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
